{% set title = "Лагерь МШЮ" %}

{% extends "layouts/_default.html" %}

{% block content %}

<!-- Head-info -->
<section class="head-info head-info--camp js-reveal gs-reveal">
    <div class="head-info__body">
        <div class="head-info__text-decor">
            <h1 class="head-info__heading title title--pre-big title--white title--w-bold js-reveal gs-reveal">Летний правовой лагерь</h1>
            <span class="head-info__heading-decor title title--pre-big title--white title--w-bold js-reveal gs-reveal">Летний правовой лагерь&nbsp;&nbsp;&nbsp;&nbsp;Летний правовой лагерь</span>

            <div class="head-info__heading-decor-absolute">
                <span class="head-info__heading-decor title title--pre-big title--white title--w-bold js-reveal gs-reveal">Летний правовой лагерь</span>
            </div>
        </div>

        <div class="head-info__description container">
            <div
                class="head-info__text text text--medium text--white text--w-regular js-reveal gs-reveal a-reveal-left">
                Третий этап комплексного просветительского проекта “Молодежная школа юриста” направлен на
                погружение участников в увлекательный мир юриспруденции и правового знания. В рамках лагеря
                школьники и студенты колледжей смогут участвовать в интерактивных мастер-классах,
                обсуждать актуальные правовые вопросы, а также обмениваться опытом с профессиональными юристами
                и преподавателями.
            </div>
        </div>
    </div>
</section>
<!-- ./ Head-info -->

<div class="camp-blocks-wrapper">
    <!-- Participants -->
    <section class="participants js-reveal gs-reveal">
        <div class="participants__body container">
            <h2
                class="participants__heading title title--big title--black title--w-bold title--indent-small js-reveal gs-reveal a-reveal-right">
                Участники
            </h2>
            <div
                class="participants__description text--medium text--black text--w-regular text--italic js-reveal gs-reveal a-reveal-right">
                Школьники старших классов, которые прослушали курс лекций от ведущих юристов страны в рамках интенсивов
                проекта “Молодежная школа юриста” и успешно выполнили задание отборочного этапа.
            </div>
        </div>
    </section>
    <!-- ./Participants -->

    <!-- Camp-stages -->
    <section class="camp-stages js-reveal gs-reveal">
        <div class="camp-stages__body container">
            <h2
                class="camp-stages__heading title title--big title--black title--w-bold title--indent-small js-reveal gs-reveal a-reveal-left">
                Этапы
            </h2>
            <ol class="camp-stages__list text text--medium text--black text--w-bold">
                <li class="camp-stages__item js-reveal gs-reveal a-reveal-left">
                    <div class="camp-stages__head">Этап</div>
                    <div class="camp-stages__description text--medium text--black text--w-regular text--italic">
                        Курс лекций от практикующих юристов по отраслям права: гражданское, уголовное и административное
                    </div>
                </li>
                <li class="camp-stages__item js-reveal gs-reveal a-reveal-left">
                    <div class="camp-stages__head">Этап</div>
                    <div class="camp-stages__description text--medium text--black text--w-regular text--italic">
                        Практические мастер-классы от наставников проекта МШЮ.
                        Закрепление в игровой форме полученных знаний через участие в квизах, моделирование ситуаций,
                        защиту
                        своих позиций, разбор кейсов
                    </div>
                </li>
                <li class="camp-stages__item js-reveal gs-reveal a-reveal-left">
                    <div class="camp-stages__head">Этап</div>
                    <div class="camp-stages__description text--medium text--black text--w-regular text--italic">
                        Подготовка к школьному модельному судебному процессу. Изучение и анализ фабулы, подготовка
                        исковых
                        заявления, сбор доказательств. Работа участников совместно с тьюторами - студентами юридических
                        факультетов вузов
                    </div>
                </li>
                <li class="camp-stages__item js-reveal gs-reveal a-reveal-left">
                    <div class="camp-stages__head">Этап</div>
                    <div class="camp-stages__description text--medium text--black text--w-regular text--italic">
                        Проведение школьного модельного судебного процесса - ключевого этапа лагеря для демонстрации на
                        практике полученных компетенций.
                        В качестве судей выступают действующие юристы, на стороне истца и ответчика — участники проекта
                    </div>
                </li>
            </ol>
        </div>
    </section>
    <!-- ./Camp-stages -->
</div>

<!-- Lawsuit -->
<section class="lawsuit js-reveal gs-reveal">
    <div class="lawsuit__body">
        <div class="lawsuit__wrapper container">
            <h2
                class="lawsuit__heading title title--big title--black title--w-bold title--indent-small js-reveal gs-reveal a-reveal-right">
                Школьный модельный судебный процесс
            </h2>
            <div
                class="lawsuit__description text--medium text--black text--w-regular text--italic js-reveal gs-reveal a-reveal-right">
                Уникальный проект, направленный на формирование практических навыков у школьников старших классов в
                области
                правовой деятельности. Участники судебных дебатов смогут продемонстрировать свой профессионализм
                и умение аргументированно защищать позиции в рамках гражданского судопроизводства.
            </div>
        </div>
    </div>
</section>
<!-- ./Lawsuit -->

<div class="blocks-team-wrapper">
    <!-- Mentors -->
    <section class="mentors js-mentors-init">
        <div class="mentors__body container">
            <div class="mentors__tabs tabs">
                <div class="mentors__head-wrap title--indent-large">
                    <h2 class="mentors__heading title title--big title--white title--w-bold">
                        Спикеры летнего правового лагеря МШЮ
                    </h2>
                </div>
                <div class="mentors__tabs-wrapper tabs__wrapper">
                    <div class="mentors__outer tabs__content is-open js-slider-mentors-init"
                        data-tab-content="slider-1">
                        <div class="mentors__slider-wrap">
                            <div class="mentors__swiper mentors__swiper--text js-mentors-slider-text swiper">
                                <div class="mentors__items swiper-wrapper">
                                    <div class="mentors__slide swiper-slide">
                                        <div class="mentors__name text text--medium text--white text--w-bold">
                                            Иванов Иван
                                        </div>
                                        <div class="mentors__info text text--medium text--white text--w-regular">
                                            <ul>
                                                <li>Психолог, коуч, стаж с 1996</li>
                                                <li>Эксперт по профессиональному самоопределению подростков и взрослых,
                                                    развитию проектного мышления и эмоционального интеллекта.</li>
                                                <li>Авторская коучинговая программа "Быстрая Активизация Ресурсной Среды
                                                    человека"</li>
                                                <li>Заместитель председателя Комитета по социальному предпринимательству
                                                    и поддержке социальных программ Московской Торгово-Промышленной
                                                    Палаты</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mentors__slide swiper-slide">
                                        <div class="mentors__name text text--medium text--white text--w-bold">
                                            Георгий Филипов
                                        </div>
                                        <div class="mentors__info text text--medium text--white text--w-regular">
                                            <ul>
                                                <li>Психолог, коуч, стаж с 1996</li>
                                                <li>Эксперт по профессиональному самоопределению подростков и взрослых,
                                                    развитию проектного мышления и эмоционального интеллекта.</li>
                                                <li>Авторская коучинговая программа "Быстрая Активизация Ресурсной Среды
                                                    человека"</li>
                                                <li>Заместитель председателя Комитета по социальному предпринимательству
                                                    и поддержке социальных программ Московской Торгово-Промышленной
                                                    Палаты</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mentors__slide swiper-slide">
                                        <div class="mentors__name text text--medium text--white text--w-bold">
                                            Нина Витальевна
                                        </div>
                                        <div class="mentors__info text text--medium text--white text--w-regular">
                                            <ul>
                                                <li>Психолог, коуч, стаж с 1996</li>
                                                <li>Эксперт по профессиональному самоопределению подростков и взрослых,
                                                    развитию проектного мышления и эмоционального интеллекта.</li>
                                                <li>Авторская коучинговая программа "Быстрая Активизация Ресурсной Среды
                                                    человека"</li>
                                                <li>Заместитель председателя Комитета по социальному предпринимательству
                                                    и поддержке социальных программ Московской Торгово-Промышленной
                                                    Палаты</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mentors__slider-wrap">
                            <div class="mentors__swiper mentors__swiper--photo js-mentors-slider-photo swiper">
                                <div class="mentors__items swiper-wrapper">
                                    <div class="mentors__slide swiper-slide">
                                        <img src="./img/mentor-1.jpg" alt="" class="mentors__img">
                                    </div>
                                    <div class="mentors__slide swiper-slide">
                                        <img src="./img/mentor-2.jpg" alt="" class="mentors__img">
                                    </div>
                                    <div class="mentors__slide swiper-slide">
                                        <img src="./img/mentor-3.jpg" alt="" class="mentors__img">
                                    </div>
                                </div>
                                <div class="news-slider__arrows slider-arrows slider-nav">
                                    <div
                                        class="swiper-button-prev news-slider__arrow news-slider__arrow--prev slider-arrows__arrow slider-arrows__arrow--prev js-slider-prev">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M19 12H5" stroke="#EFEFEF" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M12 19L5 12L12 5" stroke="#EFEFEF" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>

                                    <div
                                        class="news-slider__pagination swiper-pagination slider-pagination js-mentors-slider-pagination">
                                    </div>

                                    <div
                                        class="swiper-button-next news-slider__arrow news-slider__arrow--next slider-arrows__arrow slider-arrows__arrow--next js-slider-next">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5 12H19" stroke="#EFEFEF" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M12 5L19 12L12 19" stroke="#EFEFEF" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- ./ Mentors -->
</div>

<!-- Camp-member -->
<section class="camp js-reveal gs-reveal">
    <div class="camp__body container">
        <h2 class="camp__heading title title--big title--black title--w-bold center title--indent-small js-reveal gs-reveal a-reveal-left">
            Стать партнером
        </h2>
        <div class="camp__text text text--medium text--dark text--w-regular center js-reveal gs-reveal a-reveal-left">
            Приглашаем молодых, амбициозных и неравнодушных к праву принять участие в летнем правовом лагере МШЮ! Это уникальная возможность не только погрузиться в мир юридической науки, но и стать частью сообщества единомышленников.
        </div>
        <div class="camp__actions center">
            <a href="#feedback" class="camp__button button button--primary js-reveal gs-reveal a-reveal-left">
                Стать партнером
            </a>
            <a href="#feedback" class="camp__button button button--primary js-reveal gs-reveal a-reveal-right">
                Стать участником
            </a>
        </div>
    </div>
</section>
<!-- ./ Camp-member -->

<!-- Video -->
<section class="video-slider js-reveal gs-reveal">
    <h2
        class="video-slider__header title title--big title--black title--w-bold center title--indent-small js-reveal gs-reveal a-reveal-left">
        Видео летнего правового лагеря
    </h2>

    <div class="video-slider__swiper js-video-slider swiper">
        <div class="video-slider__items swiper-wrapper">
            <div class="video-slider__item swiper-slide">
                <iframe class="video-slider__player" width="100%" height="100%"
                    src="https://rutube.ru/play/embed/ac656ed90a9ca84f5e136d449e6d6297/" frameBorder="0"
                    allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen
                    loading="lazy"></iframe>
            </div>
        </div>
        <div class="video-slider__arrows slider-arrows">
            <div
                class="swiper-button-prev video-slider__arrow video-slider__arrow--prev slider-arrows__arrow slider-arrows__arrow--prev js-slider-prev">
                <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 1L1 10L10 19" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
            <div
                class="swiper-button-next video-slider__arrow video-slider__arrow--next slider-arrows__arrow slider-arrows__arrow--next js-slider-next">
                <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 19L10 10L1 1" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>
</section>
<!-- ./ Video -->

{% endblock %}