{% set title = "Главная" %}

{% extends "layouts/_default.html" %}

{% block content %}
<!-- Dictation-member -->
<section class="dictation dictation--member">
    <div class="dictation__body container">
        <h2 class="dictation__heading title title--big title--black title--w-bold center title--indent-small">
            Стать участником и наставником
        </h2>
        <div class="dictation__text text text--medium text--dark text--w-regular center">
            Правовой предпринимательский диктант для молодежи – специальное мероприятие, организованное с целью проверки
            знаний и понимания молодежью основных правовых аспектов предпринимательской деятельности.
        </div>
        <div class="dictation__actions center">
            <a href="#feedback" class="dictation__button button button--primary">
                Участник
            </a>
            <a href="#feedback" class="dictation__button button button--primary">
                Наставник
            </a>
        </div>
    </div>
</section>
<!-- ./ Dictation -->

<!-- Partners-slider -->
<section class="partners partners--slider">
    <div class="partners__body container">
        <h2 class="partners__heading title title--big title--red-gradient title--w-bold center title--indent-large">
            Партнёры
        </h2>
    </div>
    <div class="partners__outer">
        <div class="partners__wrapper-items partners__slider js-partners-slider swiper-container">
            <div class="partners__items swiper-wrapper">
                <a href="" class="partners__item swiper-slide">
                    <img src="img/partners/logo-1.png" alt="" class="partners__logo">
                </a>
                <a href="" class="partners__item swiper-slide">
                    <img src="img/partners/logo-2.png" alt="" class="partners__logo">
                </a>
                <a href="" class="partners__item swiper-slide">
                    <img src="img/partners/logo-3.png" alt="" class="partners__logo">
                </a>
                <a href="" class="partners__item swiper-slide">
                    <img src="img/partners/logo-4.png" alt="" class="partners__logo">
                </a>
                <a href="" class="partners__item swiper-slide">
                    <img src="img/partners/logo-5.png" alt="" class="partners__logo">
                </a>
                <a href="" class="partners__item swiper-slide">
                    <img src="img/partners/logo-6.png" alt="" class="partners__logo">
                </a>
                <a href="" class="partners__item swiper-slide">
                    <img src="img/partners/logo-7.png" alt="" class="partners__logo">
                </a>
                <a href="" class="partners__item swiper-slide">
                    <img src="img/partners/logo-8.png" alt="" class="partners__logo">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ./ Partners-slider -->

<!-- Partners-info -->
<section class="partners partners--info">
    <div class="partners__body container">
        <h2 class="partners__heading title title--big title--red-gradient title--w-bold center title--indent-large">
            Информационные партнёры
        </h2>
        <div class="partners__items">
            <a href="" class="partners__item">
                <img src="img/partners/info-logo-1.png" alt="" class="partners__logo">
            </a>
            <a href="" class="partners__item">
                <img src="img/partners/info-logo-2.png" alt="" class="partners__logo">
            </a>
            <a href="" class="partners__item">
                <img src="img/partners/info-logo-3.png" alt="" class="partners__logo">
            </a>
        </div>
    </div>
</section>
<!-- ./ Partners-info -->

<!-- Dictation-info -->
<section class="dictation dictation--info">
    <div class="dictation__body container">
        <h2 class="dictation__heading title title--big title--red-gradient title--w-bold center title--indent-small">
            Диктант
        </h2>
        <div class="dictation__text text text--medium text--dark text--w-regular center">
            Правовой предпринимательский диктант для молодежи – специальное мероприятие, организованное с целью проверки
            знаний и понимания молодежью основных правовых аспектов предпринимательской деятельности.
        </div>
        <div class="dictation__actions center">
            <a href="#feedback" class="dictation__button button button--primary">
                Перейти
            </a>
        </div>
    </div>
</section>
<!-- ./ Dictation-info -->

{% endblock %}