{% set title = "Новости" %}

{% extends "layouts/_default.html" %}
{% block content %}

<!-- Head-info news -->
<section class="head-info head-info--news js-reveal gs-reveal">
    <div class="head-info__body container">
        <h1 class="head-info__heading title title--big title--white title--w-bold js-reveal gs-reveal a-reveal-left">
            Новости
        </h1>
    </div>
</section>
<!-- ./ Head-info news -->

<!-- News -->
<section class="news-list">
    <div class="news-list__body container">
        <div class="news-list__items">
            <article class="news-list__post">
                <div class="news-list__pic">
                    <img src="./img/news-1.jpg" alt="" class="news-list__img">
                </div>
                <a href="/single.html" class="news-list__plunk">
                    <h3 class="news-list__title text text--normal text--white text--w-regular center">
                        Подведены итоги пилотного сезона МШЮ на КМЮФ-2023
                    </h3>
                </a>
                <div class="news-list__date text text--normal text--white text--w-regular">
                    01.10.2023
                </div>
            </article>
            <article class="news-list__post">
                <div class="news-list__pic">
                    <img src="./img/news-1.jpg" alt="" class="news-list__img">
                </div>
                <a href="/single.html" class="news-list__plunk">
                    <h3 class="news-list__title text text--normal text--white text--w-regular center">
                        Подведены итоги пилотного сезона МШЮ на КМЮФ-2023
                    </h3>
                </a>
                <div class="news-list__date text text--normal text--white text--w-regular">
                    01.10.2023
                </div>
            </article>
            <article class="news-list__post">
                <div class="news-list__pic">
                    <img src="./img/news-1.jpg" alt="" class="news-list__img">
                </div>
                <a href="/single.html" class="news-list__plunk">
                    <h3 class="news-list__title text text--normal text--white text--w-regular center">
                        Подведены итоги пилотного сезона МШЮ на КМЮФ-2023
                    </h3>
                </a>
                <div class="news-list__date text text--normal text--white text--w-regular">
                    01.10.2023
                </div>
            </article>
            <article class="news-list__post">
                <div class="news-list__pic">
                    <img src="./img/news-1.jpg" alt="" class="news-list__img">
                </div>
                <a href="/single.html" class="news-list__plunk">
                    <h3 class="news-list__title text text--normal text--white text--w-regular center">
                        Подведены итоги пилотного сезона МШЮ на КМЮФ-2023
                    </h3>
                </a>
                <div class="news-list__date text text--normal text--white text--w-regular">
                    01.10.2023
                </div>
            </article>
        </div>
        <nav class="news-list__nav">
            <a href="" class="news-list__prev news-list__prev--first-page">
                Предыдущая
            </a>
            <a href="" class="news-list__next">
                Следующая
            </a>
        </nav>
    </div>
</section>
<!-- ./ News -->

{% endblock %}