{% set title = "Детальная новость" %}

{% extends "layouts/_default.html" %}

{% block content %}
<style>
    .post__header::before {
        background-image: url('../img/news-1.jpg');
    }
</style>
<!-- News-detail -->
<section class="post js-reveal gs-reveal">
    <article class="post__article">
        <header class="post__header">
            <div class="post__wrap container">
                <h1 class="post__title title title--big title--white title--w-bold js-reveal gs-reveal a-reveal-left">
                    Подведены итоги пилотного сезона МШЮ на КМЮФ-2023
                </h1>
            </div>
        </header>
        <div class="post__body container">
            <div class="post__wysiwyg wysiwyg">
                <p>
                    На площадке Казанского международного юридического форума особую ценность образовательного проекта отметил депутат Государственной Думы Федерального собрания Российской Федерации Павел Крашенинников. Председатель комитета Государственной Думы по государственному строительству и законодательству также рассказал о важности повышения правовой грамотности молодежи и подарил книги собственного авторства финалистам пилотного сезона проекта «Молодежная школа юриста» в Казани.
                </p>
                <p>
                    На сессии, посвященной подведению итогов МШЮ, выступила Уполномоченный по защите прав предпринимателей в г. Москве Татьяна Минеева: «Улучшение профессиональных навыков в сфере юриспруденции, раннее профориентационное тестирование, общая правовая грамотность – фундамент развития гражданского общества в нашей стране. Совсем скоро старт нового сезона, в планах – юридические диктанты, специальные интенсивы, экскурсии в суды, Государственную Думу и многое другое».
                </p>
                <img src="/img/news-1.jpg" alt="">
                <p>
                    Председатель Управляющего совета МШЮ, заместитель декана по научной деятельности юридического факультета Казанского (Приволжского) федерального университета Дамир Валеев сделал акцент на роли научного сообщества в реализации проекта и подчеркнул, что на торжественной церемонии за одним столом встретились наука, консалтеры, представители КНД, наставники ребят из мира юриспруденции и бизнеса: «Это уникальная практика — в одном проекте соединить право и бизнес. Спасибо идеологам!» — резюмировал Дамир Валеев.
                </p>
                <p>
                    Завершился круглый стол, посвященный проекту «Молодежная школа юриста», награждением резидентов и наставников – памятные подарки, грамоты и теплые слова.
                </p>
            </div>
        </div>
        <footer class="post__footer container">
            <div class="post__date text text--medium text--dark text--w-regular">
                01.10.2023
            </div>
            <div onclick="history.go(-1); return false;" class="post__back text text--medium text--dark text--w-regular">
                Вернуться к списку новостей
            </div>
        </footer>
    </article>
</section>
<!-- ./ News-detail -->

{% endblock %}