{% set title = "Команда" %}

{% extends "layouts/_default.html" %}

{% block content %}

<!-- Head-info -->
<section class="head-info head-info--camp js-reveal gs-reveal">
    <div class="head-info__body">
        <div class="head-info__text-decor">
            <h1 class="head-info__heading title title--pre-big title--white title--w-bold js-reveal gs-reveal">Команда
            </h1>
            <span
                class="head-info__heading-decor title title--pre-big title--white title--w-bold js-reveal gs-reveal">Команда&nbsp;&nbsp;&nbsp;&nbsp;Команда&nbsp;&nbsp;&nbsp;&nbsp;Команда&nbsp;&nbsp;&nbsp;&nbsp;Команда&nbsp;&nbsp;&nbsp;&nbsp;Команда</span>

            <div class="head-info__heading-decor-absolute">
                <span
                    class="head-info__heading-decor title title--pre-big title--white title--w-bold js-reveal gs-reveal">Команда&nbsp;&nbsp;&nbsp;&nbsp;Команда</span>
            </div>
        </div>
    </div>
</section>
<!-- ./ Head-info -->

<!-- Team -->
<section class="team team--mshu js-reveal gs-reveal">
    <div class="team__body container">
        <div class="team__items">
            <article class="team__item js-reveal gs-reveal a-reveal-left">
                <div class="team__card team__side--front">
                    <div class="team__photo">
                        <img src="./img/team/team-1.jpg" alt="" class="team__img">
                    </div>
                    <h3 class="team__name text text--medium text--white text--w-bold center">
                        Гайдукова Ольга
                    </h3>
                </div>
                <div class="team__position text text--dark text--w-bold">
                    Испольнительный директор АНО "Институт правовой грамотности"
                </div>
            </article>
            <article class="team__item js-reveal gs-reveal a-reveal-left">
                <div class="team__card team__side--front">
                    <div class="team__photo">
                        <img src="./img/team/team-2.jpg" alt="" class="team__img">
                    </div>
                    <h3 class="team__name text text--medium text--white text--w-bold center">
                        Иванов Алексей
                    </h3>
                </div>
                <div class="team__position text text--dark text--w-bold">
                    Руководитель проекта Молодежная школа юриста АНО "Институт правовой грамотности"
                </div>
            </article>
            <article class="team__item js-reveal gs-reveal a-reveal-left">
                <div class="team__card team__side--front">
                    <div class="team__photo">
                        <img src="./img/team/team-3.jpg" alt="" class="team__img">
                    </div>
                    <h3 class="team__name text text--medium text--white text--w-bold center">
                        Агальцова Юлия
                    </h3>
                </div>
                <div class="team__position text text--dark text--w-bold">
                    Директор по развитию АНО "Институт правовой грамотности"
                </div>
            </article>
            <article class="team__item js-reveal gs-reveal a-reveal-left">
                <div class="team__card team__side--front">
                    <div class="team__photo">
                        <img src="./img/team/team-4.jpg" alt="" class="team__img">
                    </div>
                    <h3 class="team__name text text--medium text--white text--w-bold center">
                        Тен Наталья
                    </h3>
                </div>
                <div class="team__position text text--dark text--w-bold">
                    Заместитель Генерального директора по связям с общественностью АНО "Институт правовой грамотности"
                </div>
            </article>
            <article class="team__item js-reveal gs-reveal a-reveal-left">
                <div class="team__card team__side--front">
                    <div class="team__photo">
                        <img src="./img/team/team-5.jpg" alt="" class="team__img">
                    </div>
                    <h3 class="team__name text text--medium text--white text--w-bold center">
                        Девушка Ольга
                    </h3>
                </div>
                <div class="team__position text text--dark text--w-bold">
                    Выпускающий редактор проекта "Молодежная школа юриста"
                </div>
            </article>
            <article class="team__item js-reveal gs-reveal a-reveal-left">
                <div class="team__card team__side--front">
                    <div class="team__photo">
                        <img src="./img/team/team-6.jpg" alt="" class="team__img">
                    </div>
                    <h3 class="team__name text text--medium text--white text--w-bold center">
                        Ковалев Андрей
                    </h3>
                </div>
                <div class="team__position text text--dark text--w-bold">
                    Дизайнер проекта "Молодежная школа юриста"
                </div>
            </article>
        </div>
    </div>
</section>
<!-- ./ Team -->

<!-- Short-text -->
<div class="short-text js-reveal gs-reveal">
    <div class="short-text__body container">
        <div class="short-text__description text text--medium text--white text--w-regular">
            Проект “Молодежная школа юриста” Уполномоченного по защите прав предпринимателей в городе Москве реализует
            программу при поддержке Ассоциации юристов России.
            Оператор проекта – АНО "Институт правовой грамотности и поддержки предпринимательства".
        </div>
    </div>
</div>
<!-- ./Short-text -->

<!-- Map -->
<div class="map container">
    <div class="map__heading title title--big title--black title--w-bold left title--indent-small js-reveal gs-reveal a-reveal-left">4 региона страны:</div>
    <picture>
        <source media="(min-width: 1201px)" srcset="../img/team/desktop-map.png">
        <img class="map__pic" src="../img/team/mobile-map.png"
            alt="Карта России с обозначением областей присутствия МШЮ">
    </picture>
    <ul class="map__cities">
        <li class="map__city text text--medium text--dark text--w-bold js-reveal gs-reveal a-reveal-right">Саратов</li>
        <li class="map__city text text--medium text--dark text--w-bold js-reveal gs-reveal a-reveal-right">Москва и Московская область</li>
        <li class="map__city text text--medium text--dark text--w-bold js-reveal gs-reveal a-reveal-right">Казань</li>
        <li class="map__city text text--medium text--dark text--w-bold js-reveal gs-reveal a-reveal-right">Уфа</li>
    </ul>
</div>
<!-- ./Map -->

{% endblock %}