    <footer class="footer">
        <div class="footer__body container">
            <div class="footer__inner">
                <div class="footer__logo">
                    <img src="./img/footer-logo.svg" alt="" class="footer__img-logo">
                </div>
                <div class="footer__info">
                    <div class="footer__copy text text--medium text--white text--w-regular">
                        © 2024 МШЮ, Все права защищены
                    </div>
                    <a href="/policy/" class="footer__policy text text--medium text--white text--w-regular">
                        Политика конфиденциальности
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/scripts.min.js"></script>
</body>
</html>