    <footer class="footer">
        <div class="footer__body container">
            <div class="footer__inner">
                <div class="footer__company">
                    <div class="footer__logo">
                        <img src="./img/footer-logo.svg" alt="" class="footer__img-logo">
                    </div>
                    <a class="footer__creator text text--normal text--white text--w-regular" href="https://fcdigital.ru/" target="_blank">
                        <span class="footer__creator-capture">Создание и разработка сайта Fincom Digital</span>
                        <img src="./img/fincom-logo.svg" class="footer__creator-logo" width="40"
                            height="40" alt="Логотип Fincom Digital">
                    </a>
                </div>
                <div class="footer__info">
                    <div class="footer__copy text text--medium text--white text--w-regular">
                        © 2024 МШЮ, Все права защищены
                    </div>
                    <a href="/policy/" class="footer__policy text text--medium text--white text--w-regular">
                        Политика конфиденциальности
                    </a>
                    <a href="./docs/mshu_regulation.pdf" class="footer__regulation text text--medium text--white text--w-regular">Положение о МШЮ</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/scripts.min.js"></script>
</body>
</html>