/* Debug */

//.debug {
//	@include debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
//	z-index: 99999;
//}

/* Containers */
.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */
.hide {
	display: none !important;
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-tabletSM {
	@include tabletSM(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */
.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */
.bg {
	&--white {
		background-color: var(--color-white);
	}
	&--blue {
		background-color: var(--color-blue);
	}
	&--light-blue {
		background-color: var(--color-light-blue);
	}
}

.block-padding {
	padding: 75px 0;
}

.block-padding-large {
	padding: 120px 0 150px;
	@include tablet(padding, 70px 0 100px);
	@include mobile(padding, 50px 0 100px);
}

.block-padding-small {
	padding: 50px 0 50px;
}

/* Links */
.link {
	text-decoration: none;
	transition: ease .3s;
	color: var(--color-dark);
}

.link:hover {
	color: var(--color-red);
}

/* Title */
.title {
	font-family: var(--font-winston);
	font-style: normal;
	margin: 0;
	&--big {
		font-size: responsive 30px 50px;
		font-range: 360px 1440px;
	}
	&--large {
		font-size: responsive 30px 40px;
		font-range: 360px 1440px;
	}
	&--medium {
		font-size: responsive 20px 25px;
		font-range: 360px 1440px;
	}
	&--tiny {
		font-size: 18px;
	}
	&--black {
		color: var(--color-black);
	}
	&--white {
		color: var(--color-white);
	}
	&--red-gradient {
		background: var(--text-red-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent-small {
	margin-bottom: 30px;
}

.title--indent-large {
	margin-bottom: 60px;
	@include mobile(margin-bottom, 30px);
}

/* Text */
.text {
	font-family: var(--font-winston);
	font-style: normal;
	margin: 0;
	&--black {
		color: var(--color-black);
	}
	&--white {
		color: var(--color-white);
	}
	&--dark {
		color: var(--color-dark);
	}
	&--large {
		font-size: responsive 25px 30px;
		font-range: 360px 1600px;
	}
	&--medium {
		font-size: responsive 16px 20px;
		font-range: 1024px 1440px;
	}
	&--normal {
		font-size: responsive 14px 16px;
		font-range: 1024px 1440px;
	}
	&--small {
		font-size: 12px;
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-bold {
		font-weight: 700;
	}
	&--italic {
		font-style: italic;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}