:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-dark: #3E3E3E;
  --text-red-gradient: linear-gradient(208.77deg, #A42E32 -24.41%, #E52A31 92.24%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  --gradient-btn: linear-gradient(0deg, #3772FF, #3772FF), linear-gradient(208.77deg, #A42E32 -24.41%, #E52A31 92.24%);

  --font-winston: "Winston", "Helvetica Neue", Helvetica, Arial, sans-serif;
}