.button {
  font-family: var(--font-winston);
  font-weight: 400;
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  border-radius: 10px;
  padding: 27px 90px;
  z-index: 10;
  outline: var(--color-dark);
  transition: background .250s ease-in-out, color .250s ease-in-out, border .250s ease-in-out;
  overflow: hidden;
}

.button--primary {
  background: var(--gradient-btn);
  color: var(--color-white);
  box-shadow: 0 4px 10px 0 #00000033;
}