.camp-stages {
    padding: 60px 0;
}

.camp-stages__list {
    list-style: none;
    padding: 0 16px;

    @include from(768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        row-gap: 40px;
        padding: 0 100px;
    }

    @include from(1600px) {
        column-gap: 100px;
        row-gap: 60px;
    }
}

.camp-stages__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 330px;
    margin: 0 auto;
}

.camp-stages__item~.camp-stages__item {
    margin-top: 50px;

    @include from(768px) {
        margin-top: 0;
    }
}

.camp-stages__pic {
    width: 87px;
    height: 87px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;

    @include from(768px) {
        width: 108px;
        height: 108px;
    }
}

.camp-stages__description {
    text-align: center;
}
