.combine {
  position: relative;
  padding: 30px 0 75px;

  @include from(769px) {
    padding: 60px 0 100px;
  }

  @include from(993px) {
    padding: 60px 0 270px;
  }

  @include from(1201px) {
    padding: 60px 0 305px;
  }
}

.combine::before {
  content: '';
  position: absolute;
  background-image: url('../img/combine/combine-decor-line.svg');
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  bottom: 0;
  height: 48px;
  width: 90%;

  @include from(769px) {
    bottom: 10px;
  }

  @include from(993px) {
    bottom: 80px;
  }

  @include from(1201px) {
    bottom: 100px;
  }
}

.combine__body {
  position: relative;
  background: var(--gradient-bg);

  @include from(993px) {
    margin-right: 220px;
  }

  @include from(1201px) {
    margin-right: calc((100vw - 1200px) / 2 + 220px);
  }
}

.combine__body::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../img/combine/combine-mobile-grid.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include from(577px) {
    background-image: url('../img/combine/combine-desktop-grid.svg');
  }
}

.combine__wrap {
  padding-top: 30px;
  padding-right: $fields_mobileXS;
  padding-bottom: 30px;
  padding-left: $fields_mobileXS;

  @include from(577px) {
    padding-right: $fields_mobile;
    padding-left: $fields_mobile;
  }

  @include from(769px) {
    padding-right: $fields;
    padding-left: $fields;
  }

  @include from(993px) {
    padding-right: 240px;
  }

  @include from(1201px) {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: calc((100vw - 1200px) / 2 + $fields);
  }

}

.combine__info {
  position: relative;
  min-height: 218px;
  background-image: url('../img/combine/combine-mobile-banner.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include from(577px) {
    min-height: 227px;
    background-image: url('../img/combine/combine-desktop-banner.svg');
  }
}

/* Декоративные элементы */

.combine__wrapper-decor {
  position: relative;
}

.combine__wrapper-decor {
  @include tabletSM(display, none);
}

.combine__images-decor {
  position: relative;
  user-select: none;
  pointer-events: none;
}

.combine__circle-decor--big {
  position: absolute;
  top: -60px;
  right: -220px;
  width: 441px;
  height: 441px;
  background: linear-gradient(208.77deg, #A42E32 -24.41%, #E52A31 92.24%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 30s linear infinite forwards;
  overflow: hidden;
  box-shadow: -4px 0 25px 0 var(--color-black-15);
}

.combine__circle-decor--big::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/combine/vektor-big.svg");
}

.combine__circle-decor--small {
  position: absolute;
  top: 5px;
  right: -154px;
  width: 308px;
  height: 308px;
  background: linear-gradient(208.77deg, #A42E32 -24.41%, #E52A31 92.24%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 12px 0 #00000026;
  overflow: hidden;
  animation: rotate-revert 30s linear infinite forwards;
}

.combine__circle-decor--small::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/combine/vektor-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.combine__name-decor {
  position: absolute;
  top: -28px;
  right: -75px;
}

.combine__name-svg {
  @include mobile-block {
    max-width: 110px;
  }
}