.contacts {
  padding: 50px 0 50px;
  @include mobile(padding, 30px 0);
}

.contacts__inner {
  display: flex;
  align-items: center;
  @include tablet-block {
    flex-direction: column;
    align-items: flex-start;
  }
}

.contacts__map {
  filter: grayscale(1);
}

.contacts__map iframe {
  @include mobile(height, 360px);
}

.contacts__map,
.contacts__info {
  width: 50%;
  @include tablet(width, 100%);
}

.contacts__info {
  position: relative;
  background-image: url("../img/contacts/contacts-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 75px 80px 30px;
  display: flex;
  flex-direction: column;
  gap: 55px;
  border-radius: 30px 0 0 30px;
  @include tablet-block {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 80px 20px;
  }
  @include mobile-block {
    padding: 20px;
    gap: 30px;
  }
}

.contacts__info::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../img/contacts/grid.svg');
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  pointer-events: none;
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contacts__link {
  text-decoration: none;
}

.contacts__link--adr {
  cursor: pointer;
}

.contacts__link--adr:hover {
  text-decoration: underline;
}