.dictation {
  overflow: hidden;
}

.dictation--member {
  padding: 75px 0 50px;
  @include mobile(padding, 60px 0 30px);
}

.dictation--about {
  padding: 30px 0 60px;
  @include mobileXS(padding, 30px 0);
}

.dictation--info {
  padding: 100px 0 50px;
  @include mobile(padding, 60px 0 30px);
}

.dictation--about .dictation__actions {
  display: flex;
  margin-top: 35px;
}

.dictation--info .dictation__actions {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.dictation--member .dictation__actions {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  @include mobile(flex-direction, column);
}

.dictation--info .dictation__button,
.dictation--member .dictation__button,
.dictation--about .dictation__button {
  @include mobileXS(width, 100%);
}

.dictation__inner {
  @include from(993px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 56px;
  }
}

.dictation__opinion {
  display: none;

  @include from(993px) {
    position: relative;
    display: block;
    min-height: 348px;
    padding: 0 220px 152px 0;
  }
}

.dictation__photo {
  position: absolute;
  right: -100px;
  bottom: 0;
  width: 306px;
  height: 348px;
  object-fit: contain;
  object-position: center bottom;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  transition: all 1s ease-out 0.5s;

  &--visible {
    opacity: 1;
    right: 0;
  }
}

.dictation__quote {
  position: relative;
  z-index: 2;
  padding: 25px 20px;
  margin-bottom: 37px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--color-gray);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 1s ease-out 1.5s;

  &--visible {
    opacity: 1;
  }
}

.dictation__quote::before {
  content: "";
  position: absolute;
  right: -22px;
  bottom: 0px;
  width: 22px;
  height: 14px;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background-color: var(--color-gray);
}

.dictation__mentor {
  padding: 0 100px 0 20px;
  opacity: 0;
  transition: opacity 1s ease-out 1.5s;

  &--visible {
    opacity: 1;
  }
}

.dictation__mentor-name,
.dictation__mentor-postition,
.dictation__mentor-company {
  display: block;
}
