.footer {
  position: relative;
  padding: 130px 0 100px;
  overflow: hidden;
}

.footer::before {
  content: "";
  position: absolute;
  background-image: url('../img/combine/combine-decor-line.svg');
  background-repeat: no-repeat;
  left: 0;
  bottom: 100px;
  height: 48px;
  width: 80%;
  max-width: 1380px;
}

.footer__decor {
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
}

.footer__circle-decor--big {
  position: absolute;
  width: 360px;
  height: 360px;
  background: linear-gradient(208.77deg, #A42E32 -24.41%, #E52A31 92.24%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 50px;
  right: -180px;
  bottom: -280px;
  overflow: hidden;
}

.footer__circle-decor--big::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/combine/vektor-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  animation: rotate 30s linear infinite forwards;
}