.header {
  padding: 52px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
  background: var(--color-white);
  -webkit-transition: padding .3s ease-in-out;
  -moz-transition: padding .3s ease-in-out;
  -ms-transition: padding .3s ease-in-out;
  -o-transition: padding .3s ease-in-out;
  transition: padding .3s ease-in-out;
  @include tablet(padding, 30px 0);
}

.header.is-scroll {
  padding: 20px 0;
  box-shadow: 0 0 6px 0 var(--color-dark);
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header__inner {
  @include tablet-block {
    position: absolute;
    top: 0;
    height: 100vh;
    //left: 0;
    right: -100vw;
    margin-top: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    width: 100%;
    max-width: 375px;
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.header__menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  @include tablet-block {
    flex-direction: column;
    justify-content: center;
  }
}

.header__menu-link {
  padding: 3px 15px;
  border: 1px solid var(--color-black);
  text-decoration: none;
  color: var(--color-black);
}

.header__phone {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--color-black);
  @include mobileXS(display, none);
}