.head-info {
  padding: 35px 0;
  overflow: hidden;

  @include from(769px) {
    padding: 45px 0 50px;
  }
}

.head-info.head-info--news {
  background: url("../img/head-info-news.png") no-repeat;
}

.head-info {
  position: relative;
  background: var(--gradient-bg);
}

.head-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/head-info/head-info-bg1.svg"), url("../img/head-info/head-info-bg2.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  pointer-events: none;
  user-select: none;
}

.head-info__text-decor {
  position: relative;
  margin: 0 $fields_mobileXS 35px $fields_mobileXS;

  @include from(577px) {
    margin: 0 $fields_mobile 35px $fields_mobile;
  }

  @include from(769px) {
    margin: 0 $fields 47px $fields;
  }

  @include from(1201px) {
    margin: 0 0 47px calc((100vw - 1200px) / 2 + $fields);
    white-space: nowrap;
  }
}

.head-info__heading {
  position: relative;
  display: inline-block;
  padding-bottom: 40px;
  margin: 0;
}

.head-info__heading::before {
  content: "";
  position: absolute;
  background-image: url("../img/head-info/head-info-decor-line.svg");
  background-repeat: no-repeat;
  background-size: 100% 15px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: calc(100vw - $fields_mobileXS*2);
  height: 15px;

  @include from(577px) {
    max-width: calc(100vw - $fields_mobile*2);
  }

  @include from(769px) {
    max-width: calc(100vw - $fields*2);
  }
}

.head-info__heading-decor {
  display: none;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-white);
  text-stroke: 1px var(--color-white);
}

.head-info__heading,
.head-info__heading-decor {
  text-transform: uppercase;

  @include from(1600px) {
    display: inline-block;
    margin-right: 50px;
    white-space: nowrap;
  }
}

.head-info__heading-decor-absolute {
  @include from(1600px) {
    position: absolute;
    right: calc(100%);
    top: 0;
    width: 100%;
    height: 100%;
    text-align: end;
  }
}