.head-info {
  padding: 60px 0;
  background: url("../img/head-info-bg.png") no-repeat;
  background-size: cover;
  @include mobile(padding, 30px 0);
}

.head-info.head-info--news {
  background: url("../img/head-info-news.png") no-repeat;
}

.head-info.head-info--camp {
  background: url("../img/head-info-camp.png") no-repeat;
  background-size: cover;
}
