.news-list {
  padding: 60px 0;
  @include mobile(padding, 30px 0);
}

.news-list__items {
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  grid-gap: 30px 14px;
  grid-auto-rows: 1fr;
  @include tablet-block {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  @include mobileXS-block {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

.news-list__post {
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.news-list__post::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.news-list__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-list__pic {
  transition: filter .150s ease-in-out;
}

.news-list__post:hover .news-list__pic {
  filter: blur(10px) grayscale(1);
}

.news-list__plunk {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  max-height: 78px;
  height: 100%;
  background: var(--gradient-btn);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  -webkit-transition: opacity .150s ease-in-out;
  -moz-transition: opacity .150s ease-in-out;
  -ms-transition: opacity .150s ease-in-out;
  -o-transition: opacity .150s ease-in-out;
  transition: opacity .150s ease-in-out;
  z-index: 1;
  @include mobile-block {
    padding: 10px;
    height: auto;
  }
}

.news-list__post:hover .news-list__plunk {
  opacity: 0;
}

.news-list__date {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 8px 26px;
  background: linear-gradient(180deg, #A42E32 0%, #E52A31 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: opacity .150s ease-in-out;
  -moz-transition: opacity .150s ease-in-out;
  -ms-transition: opacity .150s ease-in-out;
  -o-transition: opacity .150s ease-in-out;
  transition: opacity .150s ease-in-out;
  z-index: 1;
}

.news-list__post:hover .news-list__date {
  opacity: 0;
}

.news-list__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 50px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .150s ease-in-out, visibility .150s ease-in-out;
  -moz-transition: opacity .150s ease-in-out, visibility .150s ease-in-out;
  -ms-transition: opacity .150s ease-in-out, visibility .150s ease-in-out;
  -o-transition: opacity .150s ease-in-out, visibility .150s ease-in-out;
  transition: opacity .150s ease-in-out, visibility .150s ease-in-out;
  z-index: 1;
}

.news-list__post:hover .news-list__description {
  opacity: 1;
  visibility: visible;
}

.news-list__description::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  filter: blur(50px);
}

.news-list__excerpt {
  position: relative;
}

.news-list__more-btn {
  padding: 13px 27px;
  font-size: 16px;
}

.news-list__nav {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 15px;
  @include mobile(margin-top, 30px);
}

.news-list__prev,
.news-list__next {
  background: var(--gradient-btn);
  padding: 13px 28px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: var(--font-winston);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  text-decoration: none;
  box-shadow: 0 4px 10px 0 #00000033;
}

.news-list__prev.news-list__prev--first-page {
  background: #AAAAAA;
}