.page {
    margin: 0;
    font-family: var(--font-winston);
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    &__container {
        width: 100%;
        margin: 0 auto;
        flex: 1 0 auto;
        padding-top: 149px;
        @include mobile(padding-top, 110px);
    }
}

.page-template-front-page .page__container {
    @include mobile(padding-top, 76px);
}

//.page.is-open {
//    overflow-y: hidden;
//}