.partners--slider {
  padding: 100px 0 30px;
}

.partners--info {
  padding: 30px 0 50px;
}

.partners__logo {
  display: block;
}

.partners__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}