.tasks {
  padding: 60px 0;
  background-image: url("../img/task/tasks-bg.svg");
  background-repeat: no-repeat;
  background-color: rgba(252, 252, 252, 0.9);
  background-size: cover;
  @include mobile(padding, 30px 0);
}

.tasks__list {
  max-width: 875px;
  margin: 0 auto;
}

.tasks__item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.tasks__item ~ .tasks__item {
  margin-top: 20px;
}

.tasks__icon svg {
  display: block;
}