.team {
  padding: 100px 0 130px;
  @include mobile(padding, 50px 0 100px);
}

.team__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 60px;
}

.team__item {
  position: relative;
  perspective: 700px;
}

.team__photo {
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.team__img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.team__name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--gradient-btn);
  padding: 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}

.team__side--front,
.team__side--back {
  backface-visibility: hidden;
  transition: transform 0.3s ease;
}

.team__side--back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #F4F4F4;
  transform: rotateY(180deg);
  font-size: 11px;
  padding: 30px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.team__side--front {
  transform: rotateY(0deg);
  // height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.team--mshu .team__side--front {
  margin-bottom: 30px;
}

.team__item:hover .team__side--front {
  transform: rotateY(180deg);
}

.team--mshu .team__item:hover .team__side--front {
  transform: rotateY(0);
}

.team__item:hover .team__side--back {
  transform: rotateY(0deg);
}

.team__position {
  position: relative;
  padding-left: 20px;
}

.team__position::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-black);
}
