.team {
  padding: 100px 0 130px;
  @include mobile(padding, 50px 0 100px);
}

.team__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 60px;
}

.team__item {
  position: relative;
  perspective: 700px;
}

.team__photo {
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.team__img {
  display: block;
  width: 100%;
}

.team__name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--gradient-btn);
  padding: 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}

.team__side--front,
.team__side--back {
  backface-visibility: hidden;
  transition: transform 0.3s ease;
}

.team__side--back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--color-white);
  transform: rotateY(180deg);
  font-size: 11px;
  padding: 30px 20px;
  border-radius: 20px;
  border: 1px solid var(--color-dark);
  display: flex;
  align-items: center;
}

.team__side--front {
  transform: rotateY(0deg);
  height: 100%;
}

.team__item:hover .team__side--front {
  transform: rotateY(180deg);
}

.team__item:hover .team__side--back {
  transform: rotateY(0deg);
}